@charset "UTF-8";
@import url("base.css");
@import url("../dont_know_form/mfp.statics/mailformpro.css");
/*共通設定-------------------------------------------------------------------------------------------------------------------------------------*/
/*基本設定*/
h1 {
  font-size: 250%;
  color: #e51373;
  border-bottom: 1px solid #333; }

.dont_know_b {
  margin: 1em 0; }

#dont_know {
  width: 100%;
  margin: 3em 0 0; }
  #dont_know p {
    text-align: center;
    margin: 0 0 1em; }
  #dont_know h2 {
    color: #808080;
    font-size: 187%;
    border-bottom: 1px dotted #ccc;
    margin: 0 0 1em; }
  #dont_know #dont_know_top li {
    list-style: decimal;
    list-style-position: outside;
    font-weight: bold;
    margin: 0 0 0 1em;
    width: 100%;
    position: relative; }
    #dont_know #dont_know_top li:nth-child(n+2) {
      margin: 1em 0 0 1em; }
    #dont_know #dont_know_top li:nth-child(n+2)::before {
      content: "";
      position: absolute;
      top: -0.7em;
      left: 0.7em;
      margin: auto;
      box-sizing: border-box;
      width: 0.7em;
      height: 0.7em;
      border: 0.7em solid transparent;
      border-top: 0.7em solid #0082e8; }
  #dont_know #thanks {
    text-align: center; }
    #dont_know #thanks .btn a {
      background-color: #0082e8;
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      display: block;
      width: 250px;
      padding: 1em 0;
      text-align: center;
      margin: 2em auto 0;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all  0.3s ease; }
      #dont_know #thanks .btn a:hover, #dont_know #thanks .btn a:active {
        background-color: #28A0FF;
        text-decoration: none; }

.inp01 {
  width: 25% !important; }

.inp02 {
  width: 35% !important; }

.inp03 {
  width: 60% !important; }

/*共通設定ここまで-------------------------------------------------------------------------------------------------------------------------------------*/
/* pc */
@media screen and (min-width: 1300px) {
  /*メイン*/ }
/* tablet以下共通 ------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1299px) {
  /*メイン*/ }
/* tablet以下共通ここまで ------------------------------------------------------------------------------------------*/
/* tablet1 */
@media only screen and (min-width: 1024px) and (max-width: 1299px) {
  /*メイン*/ }
/* tablet2  */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /*基本設定*/
  /*メイン*/
  .inp01 {
    width: 25% !important; }

  .inp02 {
    width: 65% !important; }

  .inp03 {
    width: 80% !important; } }
/* tablet3  */
@media only screen and (max-width: 767px) {
  /*基本設定*/
  /*メイン*/
  h1 {
    font-size: 187%; }

  .inp01 {
    width: 32% !important; }

  .inp02 {
    width: 75% !important; }

  .inp03 {
    width: 100% !important; } }
/* smartPhone1 */
@media only screen and (max-width: 499px) {
  /*基本設定*/
  /*メイン*/ }
