@charset "utf-8";
@import url("base.css");



/*共通設定-------------------------------------------------------------------------------------------------------------------------------------*/
/*基本設定*/

/*ヘッダー*/

/*メイン*/
h1{ 
    font-size: 250%;
    color: #e51373;
    border-bottom: 1px solid #333;
}
#contents p{
    margin: 1em 0 0;
}
#point{
    background-color: #f4f4f4;
    padding: 1em 2%;
    margin: 2em 0 0;
		& h2{
			color: #333;
			font-size: 187%;
			border-bottom:1px dotted #333;
			margin: 0 0 0.5em;
		}
		& ol{
			margin: 1em 0 0;
			& li{
				& span{
					background-color: #333;
					color: #fff;
					font-weight: bold;padding: 0.25em 5px;
					margin: 0 10px 0 0;
				}
				& i{
					color: #e51373;
					font-weight: bold;
					font-style: normal;
				}
				&:nth-child(n+2){
					margin: 1em 0 0;
				}
			}
		}
		& figure{
			margin: 1em 0 0;
		}
		& .point_bottom{
			margin: 1em 0 0;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content:space-between;
			& .point_botom_inner{
				width: calc(96% - 300px);
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content:space-between;
				background-color: #333;
				padding: 1em 2%;
				& figure{
					margin: 0;
					width: 31.333%;
				}
			}
			& dl{
				width: 275px;
				position: relative;
				display: inline-block;
				margin: 0 0 0 15px;
				color: #555;
				text-align: center;
				font-size: 16px;
				background: #333;
				&::before {
					content: "";
					position: absolute;
					top: 50%;
					left: -30px;
					margin-top: -15px;
					border: 15px solid transparent;
					border-right: 15px solid #333;
				}
				& dt{
					font-size: 150%;
					color: #fff;
					font-weight: bold;
					background-color: #e51373;
					padding:0.5em 0;
				}
				& dd{
					padding: 1em 2%;
					color: #fff;
					font-size: 110%;
				}
			}
		}
	} 
#course{
		margin: 3em 0 0;
		& .course_top{
			display: flex;
			flex-direction: row-reverse;
			flex-wrap: wrap;
			justify-content:space-between;
			& .course_right{
				width: 48%;
				& h2{
					font-size: 187%;
					color: #333;
					& span{
						color: #e51373;
					}
				}
				& ul{
					background-color: #f4f4f4;
					padding: 1em 2% 1em 2em;
					margin: 1em 0 0;
					& li{
						list-style: disc;
						list-style-position: outside;
						&:nth-child(n+2){
							margin: 1em 0 0;
						}
						& span{
							color: #e51373;
							font-weight: bold;
						}
					}
				}
				& p{
					margin: 1em 0 0;
					font-weight: bold;
				}
			}
			& .course_left{
				width: 48%;
				display: flex;
				flex-wrap: wrap;
				justify-content:space-between;
				& figure{
					width: 48%;
					&:nth-child(n+3){
						margin: 1em 0 0;
					}
				}
			}
		}
		& #course_inner{
			margin: 3em 0 0;
			& li{
				&:nth-child(n+2){
					margin: 4em 0 0;
					padding: 4em 0 0;
					border-top:1px dotted #ccc;
				}
				& .plan{
					display: flex;
					flex-direction: row-reverse;
					flex-wrap: wrap;
					justify-content:space-between;
					& .plan_inner{ 
						width: 76%;
						& h2{
							font-size: 187%;
							background-color: #e51373;
							color: #fff;
							padding: 0.25em 2%;
						}
						& p{
							margin: 0.5em 0 0;
						}
						& .btns{
							margin: 2em 0 0;
							display: flex;
							flex-wrap: wrap;
							& a{
								display: block;
								margin: 0 1%;
								background-color: #0182e8;
								color: #fff;
								text-decoration: none;
								padding: 0.5em 2%;
								text-align: center;
								&:hover,&:active{
									color: #fff;
									text-decoration: none;
									background-color: #219CFE;
								}
							}
						}
					}
					& .inner_right{
						width: 20%;
					}
				}
				& ol{
					width: 100%;
					margin: 2em 0 0;
					display: flex;
					flex-wrap: wrap;
					justify-content:space-between;
					& li{
						width: 23%;
						&:nth-child(n+2){
							margin: 0;
							padding: 0;
							border-top:none;
						}
					}
				}
				
			}
		}
	}
#payment{
    width: 100%;
    margin: 5em 0 0;
    & h2{
        font-size: 250%;
        color: #e51373;
        border-bottom: 1px solid #333;
    }
    & ul{
        & li{
            margin: 2em 0 0;
            & h3{
                color: #333;
                font-size: 187%;
                border-bottom:1px dotted #333;
                margin: 0 0 0.5em;
            }
            & dl{
                margin: 1em 0 0;
                width: 50%;
                border:1px solid #999;
                & dt{
                    font-weight: bold;
                    padding: 0.5em 2%;
                    background-color: #f4f4f4;
                }
                & dd{
                    padding: 0.5em 2%;
                }
            }
            & figure{
                margin: 1em 0 0;
            }
            & table{
                width: 400px;
                margin: 1em 0 0;
                border:1px solid #999;
                & th{
                    width: 46%;
                    border:1px solid #999;
                    padding: 0.5em 2%;
                    background-color: #f4f4f4;
                }
                & td{width: 46%;
                    border:1px solid #999;
                    padding: 0.5em 2%;
                }
            }
            &:nth-child(2) figure{
                width: 50%;
            }
            &:nth-child(4) figure{
                width: 468px;
            }
        }
    }
}		
/*フッター*/

	
		

/*共通設定ここまで-------------------------------------------------------------------------------------------------------------------------------------*/
/* pc */
@media screen and (min-width: 1300px)  {

/*ヘッダー*/
	
/*メイン*/
	
/*フッター*/

}

/* tablet以下共通 ------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1299px)  {
	
/*ヘッダー*/
	
/*メイン*/

/*フッター*/

}
/* tablet以下共通ここまで ------------------------------------------------------------------------------------------*/

/* sp以下共通 ------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 767px)  {
	
/*ヘッダー*/
	
/*メイン*/
#payment{
    margin: 2.5em 0 0;
    & h2{
        font-size: 187%;
    }
    & ul{
        & li{
            margin: 2em 0 0;
            & h3{
                font-size: 160%;
            }
            & dl{
                width: 80%;
            }
            & table{
                width: 80%;
            }
            &:nth-child(2) figure{
                width: 80%;
            }
            &:nth-child(4) figure{
                width: 80%;
            }
        }
    }
}
/*フッター*/

}
/* sp以下共通ここまで ------------------------------------------------------------------------------------------*/

/* tablet1 */
@media only screen and (min-width: 1024px) and (max-width: 1299px)  {

/*基本設定*/

/*ヘッダー*/
	
/*メイン*/

/*フッター*/

}

/* tablet2  */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

/*基本設定*/
	
/*ヘッダー*/

/*メイン*/
#point{
		& .point_bottom{
			flex-direction: column;
			& .point_botom_inner{
				width: 96%;
			}
			& dl{
				width: 100%;
				position: relative;
				display: inline-block;
				margin: 0;
				color: #555;
				text-align: center;
				font-size: 16px;
				background: #333;
				&::before {
					content: "";
					position: static;
					top: 0;
					left: 0;
					margin-top: 0;
					border: none;
					border-right: none;
				}
			}
		}
	} 
#course{
		margin: 3em 0 0;
		& .course_top{
			flex-direction: column;
			& .course_right{
				width: 100%;
				& h2{
					font-size: 187%;
					color: #333;
					& span{
						color: #e51373;
					}
				}
				& ul{
					background-color: #f4f4f4;
					padding: 1em 2% 1em 2em;
					margin: 1em 0 0;
					& li{
						list-style: disc;
						list-style-position: outside;
						&:nth-child(n+2){
							margin: 1em 0 0;
						}
						& span{
							color: #e51373;
							font-weight: bold;
						}
					}
				}
				& p{
					margin: 1em 0 0;
					font-weight: bold;
				}
			}
			& .course_left{
				width: 100%;
				margin: 1em 0 0;
				& figure{
					width: 23%;
					&:nth-child(n+3){
						margin: 0;
					}
				}
			}
		}
		& #course_inner{
			margin: 3em 0 0;
			& li{
				&:nth-child(n+2){
					margin: 2em 0 0;
					padding: 2em 0 0;
					border-top:1px dotted #ccc;
				}
				& .plan{
					flex-direction: column;
					& .plan_inner{ 
						width: 100%;
					}
					& .inner_right{
						width: 0%;
						display: none;
					}
				}
			}
		}
	}

/*フッター*/

	}

/* smartPhone1 */
@media only screen and (max-width: 767px) {
/*基本設定*/
	
/*ヘッダー*/

/*メイン*/
h1{ 
    font-size: 187%;
    }
#point{
		margin: 1em 0 0;
		& h2{
			color: #333;
			font-size: 160%;
		}
		& .point_bottom{
			flex-direction: column;
			& .point_botom_inner{
				width: 96%;
			}
			& dl{
				width: 100%;
				margin: 0;
				&::before {
					content: "";
					position: static;
					top: 0;
					left: 0;
					margin-top: 0;
					border: none;
					border-right: none;
				}
				& dt{
					font-size: 130%;
				}
				& dd{
					padding: 1em 2%;
					color: #fff;
					font-size: 110%;
				}
			}
		}
	} 
#course{
		margin: 1.5em 0 0;
		& .course_top{
			flex-direction: column;
			& .course_right{
				width: 100%;
				& h2{
					font-size: 160%;
				}
			}
			& .course_left{
				width: 100%;
				margin: 1em 0 0;
			}
		}
		& #course_inner{
			margin: 1.5em 0 0;
			& li{
				&:nth-child(n+2){
					margin: 2em 0 0;
					padding: 2em 0 0;
				}
				& .plan{
					flex-direction: column;
					& .plan_inner{ 
						width: 100%;
						& h2{
							font-size: 160%;
							background-color: #e51373;
							color: #fff;
							padding: 0.25em 2%;
						}
						& p{
							margin: 0.5em 0 0;
						}
						& .btns{
							width: 100%;
							margin: 1em 0 0;
							flex-direction: column;
							& a{
								width: 80%;
								margin: 0 auto;
								&:nth-child(n+2){
									margin: 1em auto 0;
								}
							}
						}
					}
					& .inner_right{
						width: 0%;
						display: none;
					}
				}
				& ol{
					width: 100%;
					margin: 1em 0 0;
					& li{
						width: 48%;
						&:nth-child(n+3){
							margin: 1em 0 0;
						}
					}
				}
				
			}
		}
	}

/*フッター*/

}

