@charset "utf-8";
@import url("base.css");



/*共通設定-------------------------------------------------------------------------------------------------------------------------------------*/
/*基本設定*/
h1{ 
    font-size: 250%;
    color: #e51373;
    border-bottom: 1px solid #333;
}
#policy{
    width: 100%;
    margin: 1em 0 0;
    & nav{
        width: 96%;
        background-color: #f4f4f4;
        padding: 1em 2%;
        & ul{
            width: 100%;
            padding: 1em 2%;
            box-sizing: border-box;
            border:1px solid #fff;
            & li{
                list-style: disc;
                margin: 0 0 0 1em;
                &:nth-child(n+2){
                     margin: 0.5em 0 0 1em;
                }
                & a{
                    color: #333;
                    text-decoration: none;
                    &:hover,&:active{
                        color: #333;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    & dl{
        & dt{
            font-size: 156%;
            font-weight: bold;
            border-bottom: 1px dotted #ccc;
            margin: 3em 0 0.5em;
        }
    }
    & p{
        margin: 3em 0 0;
        text-align: right;
    }
}


/*共通設定ここまで-------------------------------------------------------------------------------------------------------------------------------------*/
/* pc */
@media screen and (min-width: 1300px)  {

/*メイン*/
}

/* tablet以下共通 ------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1299px)  {
	
/*メイン*/

}
/* tablet以下共通ここまで ------------------------------------------------------------------------------------------*/

/* tablet1 */
@media only screen and (min-width: 1024px) and (max-width: 1299px)  {

/*メイン*/

}

/* tablet2  */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

/*基本設定*/
/*メイン*/

}

/* tablet3  */
@media only screen and (max-width: 767px) {

/*基本設定*/
/*メイン*/
h1{ 
    font-size: 187%;
    }
}

/* smartPhone1 */
@media only screen and (max-width: 499px) {
/*基本設定*/
/*メイン*/

}

