@charset "utf-8";
@import url("base.css");
@import url("../so_form/mfp.statics/mailformpro.css");


/*共通設定-------------------------------------------------------------------------------------------------------------------------------------*/
/*基本設定*/

/*ヘッダー*/

/*メイン*/
h1{ 
    font-size: 250%;
    color: #e51373;
    border-bottom: 1px solid #333;
}
#main{
    margin: 2% auto 5%;
}
#course{
    width: 100%;
    margin: 0 0 5em;
    & li{
        &:nth-child(n+2){
            margin: 3em 0 0;
        }
        & p{
            background-image: url("../img/base/icon@2x.png");
            background-repeat: no-repeat;
            background-size: 25px auto;
            background-position: left center;
            font-size: 120%;
            border-bottom: 1px dotted #333;
            padding: 0.5em 0 0.5em 30px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content:space-between;
            & span a{
               width: calc(100% - 100px);
                color: #333;
                text-decoration: none;
                font-weight: bold;
                &:hover,&:active{
                    color: #333;
                    text-decoration: underline;
                }
            }
            & i a{
                width: 100px;
                display: block;
                color: #fff;
                text-align: center;
                font-style: normal;
                padding: 0.25em 0;
                text-decoration: none;
                background-color: #1EAA39;
                &:hover,&:active{
                    color: #fff;
                    text-decoration: none;
                    background-color: #26D748;
                }
            }
        }
        & ul{
            display: flex;
            flex-wrap: wrap;
            justify-content:space-between;	
            margin: 1em 0 0;
            & li{
                &:nth-child(n+2){
                    margin: 0;
                }
                &:nth-child(n+4){
                    margin: 2em 0 0;
                }
                width: 31.333%;
                text-align: center;
                & a{
                color: #333;
                text-decoration: none;
                font-weight: bold;
                &:hover,&:active{
                    color: #333;
                    text-decoration: underline;
                    }
                }
            }
        }
    }
}

#flow{
			width: 100%;
			margin: 5% 0% 5% 0;
				& h2{
					width: 80%;
					margin: 0 2% 0 0; 
					font-size: 130%;
					font-weight: bold;
					border-bottom: dotted #000 1px; 
				}
			
	& #nambers{
		margin: 5% 0 5% 0;
		& .guide{
			margin: 0 0 0 7%;
			color: #0082E8;
		}
	}
		} 
#mailformpro{
    width: 96%;
    margin: 3em auto 0;
        & h2{
            width: 80%;
			margin: 0 2% 0 0; 
			font-size: 130%;
			font-weight: bold;
            border-bottom: dotted #000 1px; 
				}
    }
.inp01 {
  width: 25% !important; }

.inp02 {
  width: 35% !important; }

.inp03 {
  width: 60% !important; }
/*フッター*/

	
		

/*共通設定ここまで-------------------------------------------------------------------------------------------------------------------------------------*/
/* pc */
@media screen and (min-width: 1300px)  {

/*ヘッダー*/
	
/*メイン*/
	
/*フッター*/

}

/* tablet以下共通 ------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1299px)  {
	
/*ヘッダー*/
	
/*メイン*/

/*フッター*/

}
/* tablet以下共通ここまで ------------------------------------------------------------------------------------------*/


/* tablet1 */
@media only screen and (min-width: 1024px) and (max-width: 1299px)  {

/*基本設定*/

/*ヘッダー*/
	
/*メイン*/
#main{
    margin: 2% auto 10%;
    }

/*フッター*/

}

/* tablet2  */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

/*基本設定*/
	
/*ヘッダー*/

/*メイン*/
#main{
    margin: 2% auto 10%;
    }
.inp01 {
    width: 25% !important; }

  .inp02 {
    width: 65% !important; }

  .inp03 {
    width: 80% !important; }

/*フッター*/
}

/* tablet3  */
@media only screen and (max-width: 767px) {

/*基本設定*/

/*ヘッダー*/

/*メイン*/
h1{ 
    font-size: 187%; 
    }
#main{
			margin: 2% auto;
		}
.inp01 {
    width: 32% !important; }

  .inp02 {
    width: 75% !important; }

  .inp03 {
    width: 100% !important; } 
#course{
    & li{
        &:nth-child(n+2){
            margin: 1.5em 0 0;
        }
        & p{
            background-size: 20px auto;
            padding: 0.5em 0 0.5em 25px;
        }
        & ul{
            & li{
                &:nth-child(n+3){
                    margin: 1em 0 0;
                }
                width: 48%;
            }
        }
    }
}
	
/*フッター*/

	}

/* smartPhone1 */
@media only screen and (max-width: 499px) {
/*基本設定*/
	
/*ヘッダー*/


/*メイン*/
h1{ 
    font-size: 280%; 
    line-height: 100%;
		}
#main{
    margin: 3% auto;
		}



/*フッター*/

}

